In [1]:
import pandas as pd
import xlwings as xw
import openpyxl as op
from pathlib import Path
from pandas import ExcelWriter
import time
from tkinter import *
from tkinter import filedialog
import tkinter as tk

In [8]:
raiz=Tk()



archivoP=filedialog.askopenfilename(title="abrir archivo que deseas filtrar")


raiz.mainloop()

In [4]:
raiz=Tk()




archivos={}
for archivo in range(4):    
    archivos[archivo]=filedialog.askopenfilename(title="abrir")


raiz.mainloop()

ventana = tk.Tk()
ventana.title("")     
ventana.geometry("280x200")

etiqueta1=tk.Label(ventana,text="El proceso de filtrado a comenzado",bg="red")
etiqueta1.pack(pady="50px",fill=tk.X)
ventana.mainloop()

In [25]:
# try:
df = pd. concat(pd. read_excel (archivoP, sheet_name = None ), ignore_index = True )
df0 = pd. concat(pd. read_excel (archivos[0], sheet_name = None ), ignore_index = True )
df1 = pd. concat(pd. read_excel (archivos[1], sheet_name = None ), ignore_index = True )
df2= pd. concat(pd. read_excel (archivos[2], sheet_name = None ), ignore_index = True )
df3 = pd. concat(pd. read_excel (archivos[3], sheet_name = None ), ignore_index = True)
# except:
#     pass

c:\Users\marin\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:211: UserWarning: Cell B450 is marked as a date but the serial value 6619247 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
c:\Users\marin\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:211: UserWarning: Cell L88 is marked as a date but the serial value 6691748 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
c:\Users\marin\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:211: UserWarning: Cell Z742 is marked as a date but the serial value 6691767 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
c:\Users\marin\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:211: UserWarning: Cell P1075 is marked as a date but the serial value 8444939 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
c:\Users\marin\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:211: UserWarning: Cell L1271 is marked as a date but the serial value 6691859 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

In [26]:
print(archivos)

          DNI
0    41637639
1    43009961
2    43424326
3    33733460
4    46299839
..        ...
100  42610279
101  40786912
102  35001761
103  30901760
104  40618669

[105 rows x 1 columns]

In [27]:
MERGE=df.merge(df1,right_on="DNI",left_on="DNI")
MERGE

Empty DataFrame
Columns: [DNI, APELLIDO Y NOMBRES, INGRESO, TIPO LIQ, PLANTA, CUIL, EGRESO, ESTADO, CCCONTABLE, cc, cc.1, cc ERP]
Index: []